/* /*
spacing
2/4/8/12/16/24/32/48/64/80/96/128

font size
10/12/14/16/18/20/24/30/36/44/52/62/74/86/98
*/

:root {
  --primary-color: #7ac751;
  --light-grey: #f1f3f5;
  --dark-grey: #adb5bd;
  --default-text: #555;
  --faded-text: #888;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

html {
  font-size: 62.5%;
}

.center {
  max-width: 130rem;
  margin: 0 auto;
}

.section {
  margin-bottom: 10rem;
}
.section-heading {
  font-size: 3.6rem;
  text-align: center;
}
.light-text {
  color: var(--faded-text);
}

a:active,
a:hover {
  text-decoration: underline;
}

/* header and landing page */
/* header and landing page */
/* header and landing page */
/* header and landing page */
.header {
  font-size: 1.6rem;
  height: 5rem;
  display: flex;

  background-color: var(--primary-color);
  justify-content: space-between;
  align-items: center;
  padding: 0 10rem;
}

.header-signup {
  display: flex;
  gap: 2.4rem;
}

/* ////////////////////////section 1//////////////////////////////*/
.section-header {
  margin-bottom: 2.4rem;
}

.section-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 4.8rem;
}

.funlog {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 2.4rem;
}
.first-search {
  width: 48rem;
}
.header-form {
  display: flex;
  border: 0.2rem solid var(--primary-color);
  /* border-radius: 5px; */
}

.header-form input {
  border: none;
  padding: 1rem;
  border-right: 0.2rem solid #999;
}

.header-form input::placeholder {
  font-size: 1.2rem;
  color: #888;
}

.header-form select {
  border: none;
  border-left: none;
  color: #888;
}
.btn {
  border: none;
  padding: 0.5rem;
  background-color: #7ac751;
  color: #f7f7f7;
  cursor: pointer;
}

.land-iconslist {
  list-style: none;
  display: flex;
  gap: 1rem;
}

/* ////////////////////////section 2//////////////////////////////*/

.section--2 {
  display: grid;
  grid-template-columns: 0.2fr 0.8fr;
  gap: 1rem;
}
.aside-heading {
  display: flex;
  align-items: center;
  gap: 1rem;

  color: #f7f7f7;
  background-color: var(--primary-color);
  padding: 1.2rem;
}

.icon {
  height: 2.4rem;
  width: 2.4rem;
}

.items-in-aside {
  background-color: var(--light-grey);
  padding: 1.6rem;
  border-bottom: 2px solid var(--dark-grey);
}
.right-hand-side {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  justify-content: space-between;
}
.nav {
  display: flex;
  gap: 4.8rem;
  background-color: #f7f8fa;
  align-items: center;
  padding: 2.4rem 6.4rem;
}
.main-links {
  color: #555;
  font-size: 1.2rem;

  text-decoration: none;
  cursor: pointer;
}
.intro-h2 {
  color: var(--primary-color);
  font-weight: 500;
  font-size: 2rem;
}
.big-paragraph {
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.2;
}
.second-p {
  font-size: 1.8rem;
}
.link--btn {
  max-width: 9.6rem;
  background-color: var(--primary-color);
  color: #f7f7f7;
  padding: 1.2rem 1.8rem;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}
.seperator-in-header {
  background-color: #f1faff;
  /* margin-top: 2.4rem; */
  display: grid;
  grid-template-columns: 1fr 1fr 0.3fr;
  border-radius: 5px;
}
/* samples working */
.first-images {
  padding: 3.6rem;

  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.smaller-images {
  padding: 3.6rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  justify-content: center;
}
.smaller-image-content {
  background-color: #f7f7f7;
  border-radius: 5px;
  padding: 1rem;
}
.small-img {
}
.smaller-image-text-1 {
  color: var(--primary-color);
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
}
.small-dollar-sign {
  font-size: 1.2rem;
}
.smaller-img-texts-2 {
  text-align: center;
}

/* ////////////////////////section 3//////////////////////////////*/
.section-3 {
  display: flex;
  justify-content: space-between;
}

.services {
  padding: 1rem;
  display: flex;
  gap: 1.8rem;
}
.service-text {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  gap: 1rem;
}
.service-text-1 {
  white-space: nowrap;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.6;
}
.service-text-2 {
  font-size: 1.4rem;
  font-weight: 500;
}

/* ////////////////////////section 4//////////////////////////////*/
.section-4 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.4rem;
}
.modern-collection {
  padding: 3.6rem 2.4rem;
}
.modern-text-1 {
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.6;
  margin-bottom: 1.8rem;
}
.modern-text-2 {
  font-size: 2rem;
  font-weight: 500;
  color: var(--primary-color);
  margin-bottom: 1.8rem;
}
.modern-sec-links {
  text-decoration: none;
  font-size: 1.6rem;
  color: #757575;
}

.modern--1 {
  height: 50rem;
  /* background-color: aquamarine; */
  grid-row: 1/3;

  background-image: url("landing img & icon/Mask Group.png");
  background-size: cover;
}
.modern--2 {
  /* background-color: blue; */
  background-image: url("landing img & icon/Rectangle 34.png");
  /* background-size: cover; */
}
.modern--3 {
  /* background-color: yellowgreen; */
  background-image: url("landing img & icon/Rectangle\ 33.png");
  background-size: cover;
}

/* ////////////////////////section 5//////////////////////////////*/

.trending-text {
  margin-top: 4.4rem;
  display: flex;
  justify-content: center;
  gap: 4.4rem;
}
.trendwords {
  white-space: nowrap;
  font-size: 2.4rem;
  color: var(--faded-text);
}
.trending-text-1 {
  color: var(--primary-color);
}

/* ////////////////////////section 5- grid layout//////////////////////////////*/
.img-grid-1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.4rem;
  margin: 4.4rem 0;
}
.chair-cart {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  position: relative;
  justify-self: center;
}
.default::before {
  content: "New";
  background-color: #00b7f1;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border-bottom-right-radius: 7px;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
}
.green-sale::before {
  content: "Sale";
  background-color: var(--primary-color);
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border-bottom-right-radius: 7px;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
}
.discount::before {
  content: "-30%";
  background-color: rgb(246, 97, 97);
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border-bottom-right-radius: 7px;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
}
.img-grid-pics {
  width: 30rem;
}
.img-grid-1-text-1 {
  margin-top: 2rem;
  font-size: 1.4rem;
  color: var(--faded-text);
}
.img-grid-1-text-2 {
  margin-top: 1.8rem;
  font-size: 2rem;
}
.img-grid-1-text-3,
.inner-text-boxing {
  margin-top: 2.4rem;
  font-size: 1.8rem;
  display: flex;
  justify-content: space-between;
}
.inner-box {
  display: flex;
  gap: 2rem;
}
.inner-text-1 {
  color: var(--primary-color);
}
.inner-text-2 {
  color: var(--faded-text);
  text-decoration: line-through;
}
.star-icon-box {
  display: flex;
}
.stars-icons {
  color: var(--primary-color);
  height: 1rem;
}
.changing-dots {
  display: flex;
  gap: 2.4rem;
  justify-content: center;
}

/* ////////////////////////section 6//////////////////////////////*/
.the-offers {
  margin-top: 4.4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.4rem;
}
.offering-1 {
  position: relative;
}
.time--1::before {
  content: "-40% off";
  background-color: #00b7f1;
  padding: 0.8rem 1.2rem;
  border-bottom-left-radius: 7px;
  color: white;
  font-size: 1.2rem;

  position: absolute;
  top: 0;
  right: 0;
}
.offering-2 {
  position: relative;
}
.time--2::before {
  content: "-50% off";
  background-color: #00b7f1;
  padding: 0.8rem 1.2rem;
  border-bottom-left-radius: 7px;
  color: white;
  font-size: 1.2rem;

  position: absolute;
  top: 0;
  right: 0;
}

.offer-1,
.offer-2 {
  background-color: #00b7f1;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.offer-1 {
  background-image: url("landing img & icon/offer 1.png");
  background-size: cover;
}
.offer-2 {
  background-image: url("landing img & icon/offer 2.png");
  background-size: cover;
}
.divider-1 {
  padding: 3.2rem 2.4rem;
}
.offer-text-1 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 2.4rem;
}
.offer-text-2 {
  font-size: 1.4rem;
  line-height: 1.8;
  color: var(--faded-text);
}

.btn--var {
  font-size: 1.4rem;
  white-space: nowrap;
  padding: 0.7rem 1rem;
}

.time {
  margin-top: 3.2rem;
  display: flex;
  justify-content: space-between;
}
.time-branches {
  color: white;

  background-color: var(--primary-color);
  padding: 1.2rem;
  width: 5rem;
  border-radius: 50%;
}
.time-1 {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
  text-align: center;
}
.time-2 {
  font-size: 1rem;
  text-align: center;
}

/* ////////////////////////section 6//////////////////////////////*/
/* BORROWS NAMES FROM SECTION 5 */
/* page changer part */
.page-changer {
  display: flex;
  justify-content: end;
  gap: 20rem;
}

.page-input {
  width: 5rem;
}
.btn-var2 {
  font-size: 1.4rem;
  max-width: 16rem;
  border-radius: 0;
}
.pc-seperator {
  font-size: 1.6rem;
  display: flex;
  gap: 2.4rem;
}
.left-right-btns {
  background-color: var(--primary-color);
  border: none;
  height: 2.4rem;
  width: 5rem;
}
.left-right-icons {
  color: white;
  /* padding: 0.5rem 0.8rem; */
  height: 24px;
  width: 24px;
}

/* ////////////////////////section 7//////////////////////////////*/
.the-slider {
  /* margin: 0 auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.6rem;
}
.slider-icons {
  height: 30px;
  width: 30px;
  color: #cccccc;
}
.cust {
  margin-bottom: 8.4rem;
}
.customer-quote {
  max-width: 82rem;

  padding: 7.2rem 9.8rem 4.8rem 9.8rem;

  position: relative;

  text-align: center;
  background-color: #f8fafb;
}
.customer-text {
  margin-bottom: 2.4rem;
  font-size: 1.6rem;
  line-height: 1.6;
}
.customer-name {
  font-size: 1.8rem;
  margin-bottom: 1.2rem;
}
.customer-type {
  font-size: 1.6rem;
}
.customer-img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ////////////////////////section 7//////////////////////////////*/
.artico {
  margin-bottom: 5.6rem;
}
.img-offers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.4rem;
  /* padding: 0 6.2rem 0 6.2rem; */
  justify-content: center;
}
.img-grid-4 {
  height: 45rem;
  width: 57rem;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  justify-content: end;
  padding: 3.6rem 9.6rem 3.6rem 4.8rem;
}
.img-offer-1 {
  justify-self: end;

  background-image: url("landing img & icon/a1.png");
}
.img-offer-2 {
  justify-self: start;
  background-image: url("landing img & icon/a2.png");
}
.img-offer-3 {
  justify-self: end;
  background-image: url("landing img & icon/a3.png");
}
.img-offer-4 {
  justify-self: start;
  background-image: url("landing img & icon/a4.png");
}
.img-offers-text-1 {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.white-background {
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  display: flex;
  gap: 0.5rem;
  background-color: white;
  color: var(--primary-color);
  align-items: center;
  /* padding: 1rem; */
}
.white-bkgd-icon {
  transform: rotate(-0.25turn);
  height: 14px;
  width: 14px;
}
.white-bkgd-text {
  font-size: 1.4rem;
}
.white-bkgd-text-2 {
  font-size: 1.4rem;
  color: white;
}

.img-offers-text-2 {
  /* margin: 2.4rem 0 2.4rem 0; */
  font-size: 3.2rem;
  line-height: 1.2;
  color: white;
}
.img-offers-text-3 {
  text-decoration: none;
  font-size: 1.4rem;
  color: white;
}

/* ////////////////////////section 8//////////////////////////////*/

.section-8 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4.8rem;
  align-items: center;
}
.end-text-1 {
  font-size: 1.6rem;
  line-height: 1.6;
}
.end-text {
  font-size: 1.8rem;
  text-decoration: none;
  color: var(--default-text);
}
.end-grid {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.end-heading {
  font-size: 2rem;
  font-weight: 600;
}
.social-icon {
  margin-right: 1.4rem;
  height: 32px;
  width: 32px;
}

/* ////////////////////////footer//////////////////////////////*/

.section-footer {
  margin-top: 4.8rem;
  padding: 3.6rem 7.2rem;
  border-top: 1px solid #969696;
  font-size: 1.4rem;
}
.footer-info {
  display: flex;
  justify-content: space-between;
}
.fut-flex {
  display: flex;
  gap: 2.4rem;
}
.footer-links {
  text-decoration: none;
  color: var(--default-text);
}

/*//////////////////////// MOBILE VERSION /////////////////////////////////////////*/
/* major */
.hidden {
  display: none;
}

/* specific */
.nav-links-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f8fa;
}
.mobile-nav-btn {
  border: none;
  background-color: #f7f8fa;
  display: none;
}
.mobile-nav-icons {
  height: 24px;
  width: 24px;
}
.mobile-close {
  display: none;
}
.nav-icon-replacement {
  margin-left: 2.4rem;
}
.nav-icon-replacement-links:link,
.nav-icon-replacement-links:visited {
  text-decoration: none;
  color: var(--default-text);
  padding-right: 1.6rem;
  transition: all 0.5s;
}

.nav-icon-replacement-links:active,
.nav-icon-replacement-links:hover {
  color: var(--primary-color);
  cursor: pointer;
}
.replacent-icon {
  height: 24px;
  width: 24px;
}
